

<h2><%= @image.title %></h2>
<h3><%= @image.description %></h3>
<figure><%= image_tag @image.avatar.url %></figure>

<h3>Add a comment: </h3>
<div class="panel panel-info">
  <% @image.comments.each do |comment| %>
    <%= render partial: "comments/comments", locals: {comment: comment} %>
  <% end %>

  <%= render partial: "comments/form", locals: {image: @image} %>
</div>
<p><%= link_to "Edit", edit_user_image_path(current_user.id, @image) %></p>
<p><%= link_to "Delete", user_image_path(current_user.id, @image),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to Profile", user_path(current_user.id) %></p>
